* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
header {
	width: 100%;
	background-color: rgba(23, 23, 23, 0.15);
	padding: 20px;
	position: absolute;
	top: 0;
}
header .container {
	display: flex;
	justify-content: space-between;
}
header a {
	text-decoration: none;
	margin-right: 100px;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Tahoma;
	color: rgba(255, 255, 255, 0.719);
}
.banner-container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(6, 72, 105, 0.849), rgb(3, 96, 133)),
		url(./images/bg.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: flex;
}
.banner-container .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
.left-section {
	width: 600px;
}
.left-section h1 {
	margin: 0;
	font-size: 40px;
	color: white;
}
.left-section p {
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.884);
	margin-top: 18px;
	line-height: 28px;
}
