* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}
/*header section*/
header {
	width: 100%;
	background-color: rgba(23, 23, 23, 0.15);
	padding: 20px;
	position: absolute;
	top: 0;
}
header .container {
	display: flex;
	justify-content: space-between;
	width: 1180px;
	margin: auto;
}
header a {
	text-decoration: none;
	margin-right: 100px;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: Tahoma;
	color: rgba(255, 255, 255, 0.719);
}
/*header section end*/
/*banner section*/
.banner-container {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(6, 72, 105, 0.849), rgb(3, 96, 133)),
		url(./images/bg.jpeg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	align-items: center;
}
.banner-container .container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
/*banner end */
.left-section {
	width: 600px;
	align-self: flex-start;
}
.left-section h1 {
	margin: 0;
	font-size: 40px;
	color: white;
}
.left-section p {
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.884);
	margin-top: 18px;
	line-height: 28px;
}
.left-section button {
	color: #2098ca;
	background-color: white;
	font-weight: bold;
	border: none;
	padding: 12px 50px;
	border-radius: 6px;
	margin-top: 15px;
	cursor: pointer;
}
/*right section*/
.right-section {
	width: 400px;
	background-color: white;
	border-radius: 15px;
	padding: 40px 0;
	box-shadow: 0 5px 6px rgba(0, 0, 0, 0.219);
}
.right-section h4 {
	font-size: 20px;
	width: 300px;
	margin: auto;
	margin-bottom: 30px;
	color: rgba(136, 136, 136);
}
.input-group {
	width: 300px;
	margin: 30px auto;
	display: flex;
	flex-direction: column;
	position: relative;
}
.input-group label {
	color: rgba(165, 165, 165);
	font-size: 14px;
	position: absolute;
	top: 10px;
	transition: 0.5s ease-in-out;
}
.input-group input {
	border: none;
	padding: 7px;
	margin-top: 5px;
	outline: none;
	color: #2098ca;
	border-bottom: 1px solid #c9c9c98a;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
	color: #2098ca;
	top: -10px;

	font-size: 12px;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
	border-color: #2098ca;
}
.submit-section {
	text-align: center;
}
.submit-button {
	background-color: #2098ca;
	color: white;
	border: none;
	padding: 10px 0;

	margin-top: 15px;
	border-radius: 5px;
	width: 300px;
	cursor: pointer;
}
.submit-button:hover {
	box-shadow: 0 3px 6px silver;
}
/*right section end*/ ;
